
        /* Button used to open the chat form - fixed at the bottom of the page */
        .open-button {
            background-color: #FF8C00;
            padding: 10px 10px;
            border: 1px solid #ffffff;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            top: 120px;
            right: 10px;
            width: 80px;
            z-index: 1000;
        }

        /* The popup chat - hidden by default */
        .chat-popup {
            border-radius: 8px;
            border: 1px solid #dfe1e5;
            box-shadow: none;
            display: none;
            position: fixed;
            top: 110px;
            right: 10px;
            z-index: 1000;
            padding: 20px 16px 24px;
            background-color: #fff;
            width: 618px;
        }

        .converter-wrapper {
            margin: auto;
            max-width: auto;
            text-align: left;
            padding: 10px;
            margin-bottom: 40px;
        }

        .convert-main select {
            color: #000;
            background-position-x: 98%;
            width: 449px;
            margin-bottom: 10px;
            background-color: #f8f9fa;
            border-color: #dadce0;
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
        }

        .converter-wrapper span select {
            background-position-x: 95%;
            border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
            color: #000;
            width: 211px;
            margin-top: -1px;
            background-color: #fff;
        }

        .converter-side-a,
        .converter-side-b {
            display: inline-block;
            width: 100%;
            padding-top: 10px;
            height: 40px;
        }


        /* Media Query */
        @media screen and (max-width: 600px) {
            .chat-popup {
                width: 95%;
                border-radius: 8px;
                border: 1px solid #dfe1e5;
                box-shadow: none;
                display: none;
                position: fixed;
                top: 110px;
                right: 10px;
                z-index: 1000;
                padding: 20px 16px 24px;
                background-color: #fff;
            }

            .converter-side-a input,
            .converter-side-b input {
                background-color: #fff;
                border: 1px solid #dadce0;
                border-radius: 2px 2px 0 0;
                color: #000;
                padding: 1px 6px;
                text-align: right;
                width: 50%;
            }

            .converter-wrapper {
                background-color: #fff;
                margin: 0 0 8px 0;
                box-shadow: 0 0 0 1px #EBEDEF;
                border-radius: 8px;
            }

            .convert-main select {
                width: 100%;
                position: relative;
            }

            .converter-wrapper span select {
                background-color: #fff;
                border: 1px solid #dadce0;
                border-radius: 2px 2px 0 0;
                color: #000;
                height: 40px;
                padding: 1px 6px;
                text-align: right;
                width: 40%;
                line-height: 25px;
                height: 29px;
            }

            .select-a,
            .select-b {
                background-position-x: 95%;
                border-radius: 0 0 2px 2px;
                color: #000;
                width: 55%;
                line-height: 20px;
                background-position-y: center;
                height: 33px;
                float: right;
            }
        }


